html
 {
 	font-style: color white;
 	background-color: brown;
 	background-repeat: no-repeat;
 	background-image: url("images/fon.jpg");
 	background-position: center;

 }

h2
 {
 	text-align: center;
 	margin: 5px 5px 5px 5px;
 }

div 
 {
 	display: inline-block;
 }

ul
 {
	list-style: none;
 }

#headinner
 {
	width: 70%;
	height: 20%;
	margin: 2.5% 15% .5% 15%;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white; 
 }

#content 
 {  
	width: 70%;
 	height: 70%;
 	border: 2px solid black;
 	margin: 5% 15%;
 	border-radius: 10px;
 	background-color: white; 
 }

#mon 
 {
 	width: 29.9%;
 	height: 30%;
	margin: 1.3%;
 	border: 2px solid black;
 	border-radius: 10px;
 }

#tues
 {
 	width: 29.9%;
 	height: 30%;
	margin: 1.3%;
 	border: 2px solid black;
 	border-radius: 10px; 
 }

#wed
 {
 	width: 29.9%;
 	height: 30%;
	margin: 1.3%; 	
 	border: 2px solid black;
 	border-radius: 10px;
 }

#thurs
 { 
 	width: 29.9%;
 	height: 30%;
	margin: 1.3%;
 	border: 2px solid black;
 	border-radius: 10px;
 }

#fri
 {
 	width: 29.9%;
 	height: 30%;
	margin: 1.3%;
 	border: 2px solid black;
 	border-radius: 10px;
 }

#sat 
 {
 	width: 29.9%;
 	height: 207px;
 	position: relative;
 	top: -20px;
	margin: 1.3%;
 	border: 2px solid black;
 	border-radius: 10px; 
 }